{% extends 'admin/base.html.twig' %}

{% block title %}Administration des réservations{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-5">Administration des réservations</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th class="align-middle">Id</th>
                <th class="align-middle">Date</th>
                <th class="align-middle">Visiteur</th>
                <th class="align-middle">Annonce</th>
                <th class="text-center align-middle">Durée</th>
                <th class="text-center align-middle">Montant</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
                <td class="align-middle">{{booking.id}}</td>
                <td class="align-middle">{{booking.createdAt|date('d/m/y H:i')}}</td>
                <td class="align-middle"><img src="{{booking.booker.picture}}" alt="Avatar de {{booking.booker.fullName}}" class="avatar avatar-micro"> {{booking.booker.fullName}}</td>
                <td class="align-middle">{{booking.ad.title}}</td>
                <td class="text-center align-middle">{{booking.duration}} jour{% if booking.duration > 1 %}s{% endif %}</td>
                <td class="text-center align-middle">{{booking.amount | number_format(2, ',', ' ')}} &euro;</td>
                <td class="align-middle">
                    <a href="{{path('admin_booking_edit', {'id': booking.id})}}" class="btn btn-primary">
                    <i class="fas fa-pen"></i>
                    </a>
                    <a href="{{path('admin_booking_delete', {'id': booking.id})}}" class="btn btn-danger" onclick="return confirm(`Êtes vous sur de vouloir supprimer la réservation n° {{booking.id}} ?`)">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

