{% extends 'admin/base.html.twig' %}

{% block title %}Administration des commentaires{% endblock %}

{% block body %}

<div class="container-fluid">
    <h1 class="my-5">Administration des commentaires</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th class="align-middle">Id</th>
                <th class="align-middle">Date</th>
                <th class="align-middle">Auteur</th>
                <th class="align-middle">Commentaire</th>
                <th class="text-center align-middle">Note</th>
                <th>Annonce</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
            <tr>
                <td class="align-middle">{{comment.id}}</td>
                <td class="align-middle">{{comment.createdAt|date('d/m/y H:i')}}</td>
                <td class="align-middle"><img src="{{comment.author.picture}}" alt="Avatar de {{comment.author.fullName}}" class="avatar avatar-micro"> {{comment.author.fullName}}</td>
                <td class="align-middle">{{comment.content}}</td>
                <td class="text-center align-middle">
                    <span class="badge badge-primary">{{comment.rating}}</span>
                </td>
                <td class="align-middle">{{comment.ad.title}}</td>
                <td class="align-middle">
                    <a href="{{path('admin_comment_edit', {'id': comment.id})}}" class="btn btn-primary mb-1">
                    <i class="fas fa-pen"></i>
                    </a>
                    <a href="{{path('admin_comment_delete', {'id': comment.id})}}" class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
